*.bat
Roots.txt
Conversations/
OldConversations/
ConversationsToCSV/
Documents/
Videos/
*.wav
config.json
__pycache__
*.idea
*.idea/
*.ipynb_checkpoints/
venv/
*.csv
*.mp3
*.pkl
google_api.json
*.idea/
avoid_words.json