# Install a Pytorch library according with your CUDA version.
pandas
numpy
matplotlib
openpyxl
jupyter
paho-mqtt
seaborn
nltk
gensim
pipwin
pyttsx3
SpeechRecognition
gtts
pyannote.audio==1.1.1
ffmpeg-python
googletrans==4.0.0rc1
transformers
boto3
openai